In [3]:
import pandas as pd

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import mysql
import mysql.connector

In [8]:
#server=mysql.connector.connect(host="database-1.chsyg0qaghtk.ap-south-1.rds.amazonaws.com",user="admin",password="ssn20655",database="tamil")
server=mysql.connector.connect(host="localhost",user="root",password="",database="tamil",port)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [6]:
limat=server.cursor()

In [7]:
server.commit()

In [8]:
import time
import numpy as np

In [9]:
data=pd.read_csv('state_all.csv')

In [10]:
rb=pd.DataFrame(data)

In [11]:
rb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10467 entries, 0 to 10466
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10467 non-null  int64
 1   route_names      10467 non-null  object
 2   route_links      10467 non-null  object
 3   bus_names        10467 non-null  object
 4   bus_types        10467 non-null  object
 5   departing_time   10467 non-null  object
 6   duration         10467 non-null  object
 7   reaching_time    10467 non-null  object
 8   star_rating      10467 non-null  object
 9   prices           10467 non-null  object
 10  seats_available  10467 non-null  object
dtypes: int64(1), object(10)
memory usage: 899.6+ KB

In [12]:
rb.set_index('Unnamed: 0', inplace=True)

In [13]:
rb

,route_names,route_links,bus_names,bus_types,departing_time,duration,reaching_time,star_rating,prices,seats_available
Unnamed: 0,,,,,,,,,,
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1758,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:15,04h 50m,05:05,3.4,INR 396,10 Seats available
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 42162,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:10,06h 10m,07:20,4.2\n55,INR 396,28 Seats available
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 30710,RAJDHANI (A.C. Semi Sleeper),01:20,05h 40m,07:00,4.1\n18,INR 480,32 Seats available
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 42362,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:50,06h 10m,08:00,4.3\n22,INR 396,30 Seats available
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1590,RAJDHANI (A.C. Semi Sleeper),02:00,05h 40m,07:40,2.7\n27,INR 480,32 Seats available
...,...,...,...,...,...,...,...,...,...,...
10462,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Royal Golden,A/C Seater / Sleeper (2+2),14:00,06h 00m,20:00,1.8,600,31 Seats available
10463,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Vijay Tour and Travels,AC Sleeper (2+1),14:30,05h 30m,20:00,2.2,INR 800,34 Seats available
10464,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Neeraj travels,A/C Seater / Sleeper (2+1),15:40,04h 57m,20:37,2.5,INR 799,38 Seats available
10465,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Vijay Tour and Travels,Bharat Benz A/C Seater /Sleeper (2+1),18:50,04h 50m,23:40,2.2,INR 600,38 Seats available
10466,Ajmer to Jammu (j and k),https://www.redbus.in/bus-tickets/ajmer-to-jammu,Vijay Tour and Travels,A/C Seater / Sleeper (2+1),15:00,17h 50m,08:50,3.2\n14,1330,38 Seats available

In [14]:
rb.duplicated().sum()

np.int64(238)

In [15]:
rb.drop_duplicates(keep ="last",inplace = True)

In [16]:
rb["prices"]=rb["prices"].str.replace("INR ","")

In [17]:
rb["prices"] = pd.to_numeric(rb["prices"])

In [18]:
rb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10229 entries, 0 to 10466
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_names      10229 non-null  object
 1   route_links      10229 non-null  object
 2   bus_names        10229 non-null  object
 3   bus_types        10229 non-null  object
 4   departing_time   10229 non-null  object
 5   duration         10229 non-null  object
 6   reaching_time    10229 non-null  object
 7   star_rating      10229 non-null  object
 8   prices           10229 non-null  float64
 9   seats_available  10229 non-null  object
dtypes: float64(1), object(9)
memory usage: 879.1+ KB

In [19]:
rb["star_rating"]=rb["star_rating"].str.split().str[0]

In [20]:
rb["star_rating"]=rb["star_rating"].str.replace("New","0.0")

In [21]:
rb["star_rating"] = pd.to_numeric(rb["star_rating"])

In [22]:
rb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10229 entries, 0 to 10466
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_names      10229 non-null  object
 1   route_links      10229 non-null  object
 2   bus_names        10229 non-null  object
 3   bus_types        10229 non-null  object
 4   departing_time   10229 non-null  object
 5   duration         10229 non-null  object
 6   reaching_time    10229 non-null  object
 7   star_rating      10179 non-null  float64
 8   prices           10229 non-null  float64
 9   seats_available  10229 non-null  object
dtypes: float64(2), object(8)
memory usage: 879.1+ KB

In [23]:
rb["star_rating"].fillna(0,inplace= True)

C:\Users\admin\AppData\Local\Temp\ipykernel_11368\2124914626.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rb["star_rating"].fillna(0,inplace= True)

In [24]:
rb["star_rating"].isnull().sum()

np.int64(0)

In [25]:
rb.isnull().sum()

route_names        0
route_links        0
bus_names          0
bus_types          0
departing_time     0
duration           0
reaching_time      0
star_rating        0
prices             0
seats_available    0
dtype: int64

In [26]:
rb['seats_available'] = rb['seats_available'].str.extract('(\d+)').astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\admin\AppData\Local\Temp\ipykernel_11368\753645920.py:1: SyntaxWarning: invalid escape sequence '\d'
  rb['seats_available'] = rb['seats_available'].str.extract('(\d+)').astype(int)

In [85]:
#rb['departing_time'] = pd.to_datetime(rb.departing_time)
#rb['reaching_time'] = pd.to_datetime(rb.reaching_time)

In [27]:
rb['departing_time'] = pd.to_datetime(rb['departing_time'], format='%H:%M', errors='coerce').dt.time
rb['reaching_time'] = pd.to_datetime(rb['reaching_time'], format='%H:%M', errors='coerce').dt.time

In [34]:
rb.info()
rb

<class 'pandas.core.frame.DataFrame'>
Index: 10229 entries, 0 to 10466
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_names      10229 non-null  object
 1   route_links      10229 non-null  object
 2   bus_names        10229 non-null  object
 3   bus_types        10229 non-null  object
 4   departing_time   10229 non-null  object
 5   duration         10229 non-null  object
 6   reaching_time    10229 non-null  object
 7   star_rating      10229 non-null  float64
 8   prices           10229 non-null  float64
 9   seats_available  10229 non-null  int64
dtypes: float64(2), int64(1), object(7)
memory usage: 879.1+ KB

,route_names,route_links,bus_names,bus_types,departing_time,duration,reaching_time,star_rating,prices,seats_available
Unnamed: 0,,,,,,,,,,
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1758,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:15:00,04h 50m,05:05:00,3.4,396.0,10
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 42162,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:10:00,06h 10m,07:20:00,4.2,396.0,28
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 30710,RAJDHANI (A.C. Semi Sleeper),01:20:00,05h 40m,07:00:00,4.1,480.0,32
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 42362,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:50:00,06h 10m,08:00:00,4.3,396.0,30
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1590,RAJDHANI (A.C. Semi Sleeper),02:00:00,05h 40m,07:40:00,2.7,480.0,32
...,...,...,...,...,...,...,...,...,...,...
10462,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Royal Golden,A/C Seater / Sleeper (2+2),14:00:00,06h 00m,20:00:00,1.8,600.0,31
10463,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Vijay Tour and Travels,AC Sleeper (2+1),14:30:00,05h 30m,20:00:00,2.2,800.0,34
10464,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Neeraj travels,A/C Seater / Sleeper (2+1),15:40:00,04h 57m,20:37:00,2.5,799.0,38
10465,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Vijay Tour and Travels,Bharat Benz A/C Seater /Sleeper (2+1),18:50:00,04h 50m,23:40:00,2.2,600.0,38
10466,Ajmer to Jammu (j and k),https://www.redbus.in/bus-tickets/ajmer-to-jammu,Vijay Tour and Travels,A/C Seater / Sleeper (2+1),15:00:00,17h 50m,08:50:00,3.2,1330.0,38

In [29]:
rb["departing_time"].info()

<class 'pandas.core.series.Series'>
Index: 10229 entries, 0 to 10466
Series name: departing_time
Non-Null Count  Dtype
--------------  -----
10229 non-null  object
dtypes: object(1)
memory usage: 159.8+ KB

In [30]:
rb["reaching_time"].info()

<class 'pandas.core.series.Series'>
Index: 10229 entries, 0 to 10466
Series name: reaching_time
Non-Null Count  Dtype
--------------  -----
10229 non-null  object
dtypes: object(1)
memory usage: 159.8+ KB

In [31]:
print(type(rb['departing_time'].iloc[1200]))
print(type(rb['reaching_time'].iloc[1200]))

<class 'datetime.time'>
<class 'datetime.time'>

In [32]:
rb

,route_names,route_links,bus_names,bus_types,departing_time,duration,reaching_time,star_rating,prices,seats_available
Unnamed: 0,,,,,,,,,,
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1758,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:15:00,04h 50m,05:05:00,3.4,396.0,10
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 42162,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:10:00,06h 10m,07:20:00,4.2,396.0,28
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 30710,RAJDHANI (A.C. Semi Sleeper),01:20:00,05h 40m,07:00:00,4.1,480.0,32
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 42362,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:50:00,06h 10m,08:00:00,4.3,396.0,30
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1590,RAJDHANI (A.C. Semi Sleeper),02:00:00,05h 40m,07:40:00,2.7,480.0,32
...,...,...,...,...,...,...,...,...,...,...
10462,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Royal Golden,A/C Seater / Sleeper (2+2),14:00:00,06h 00m,20:00:00,1.8,600.0,31
10463,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Vijay Tour and Travels,AC Sleeper (2+1),14:30:00,05h 30m,20:00:00,2.2,800.0,34
10464,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Neeraj travels,A/C Seater / Sleeper (2+1),15:40:00,04h 57m,20:37:00,2.5,799.0,38
10465,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,Vijay Tour and Travels,Bharat Benz A/C Seater /Sleeper (2+1),18:50:00,04h 50m,23:40:00,2.2,600.0,38
10466,Ajmer to Jammu (j and k),https://www.redbus.in/bus-tickets/ajmer-to-jammu,Vijay Tour and Travels,A/C Seater / Sleeper (2+1),15:00:00,17h 50m,08:50:00,3.2,1330.0,38

In [2]:
rb.to_csv("rb.csv")

NameError: name 'rb' is not defined

In [35]:
sql=limat.execute("show databases")

In [1]:
table_name = 'redbus'
rb.to_sql(name=table_name,con=limat,if_exists ='append',index=False)

NameError: name 'rb' is not defined